_commit: {{ _copier_conf.vcs_ref_hash }}
_src_path: {{ _copier_answers._src_path | to_json }}
package_name: {{ package_name }}
project_name: {{ project_name | to_json }}
project_slug: {{ project_slug }}
